.list-item {
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 10px;
}

.list-item-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  border-bottom: 1px solid #778899;
  flex: 1;
}

.list-item-main-name {
  color: #FFF;
  font-size: 20px;
  padding-bottom: 2px;
}

.list-item-main-description {
  color: 		#696969;
}

@media only screen and (max-width: 450px) {
  .list-item {
    margin-left: 1%;
  }
}

.grid-item {
  width: 250px;
  height: 200px;
  background-color: #FFF;
  margin: 10px;
  border-radius: 4%;
}

.grid-avatar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.grid-item-main {
  padding: 0 15px;
}

.grid-item-main-name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-bottom: 15px;
}

.grid-item-main-description {
  display: flex;
  justify-content: center;
  text-align: center;
}
