.list {
  display: flex;
  flex-direction: column;
  background-color: #20B2AA;
  padding: 15px 0 15px 15px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #20B2AA;
  padding: 20px 0 50px 0;
}
